#logout-button button {
    font-weight: 700;
}

#logo-name span {
    margin-left: 1rem;
    font-family: Montserrat-MediumItalic, sans-serif;
}

.text-sidebar {
    color: #6b6b6b;
}

.text-sidebar:hover {
    color: #6b6b6b;
}

.title-info {
    padding: 70px 0 0 0;
    font-family: Montserrat-Medium, sans-serif;
}

.input-search {
    margin: 0 0 0 206px;
}

.client-info {
    margin: 20px 0 0 0;
    border: 1px solid rgb(41, 71, 163);
    box-shadow: 2px 2px rgb(179, 198, 255);
}

.client-card-btn {
    margin: 0 5px 0 5px;
}

.sub-title {
    font-family: Montserrat-MediumItalic, monospace;
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-MediumItalic;
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: Montserrat-ExtraLightItalic;
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
}