.title-main-client {
    font-family: Pangolin-Regular, monospace;
    padding: 10px 0 0 0;
    content: "";
    margin-left: calc(100% - 68%);
    font-size: 50px;
}

.bg-dropleft-navbar {
    color: #000000;
    background: rgb(177, 224, 215);
}

.items-dropleft-navbar {
    font-family: Montserrat-LightItalic, sans-serif;
    margin-left: 3px;
}

.items-dropleft-navbar-total {
    font-family: Montserrat-SemiBoldItalic, sans-serif;
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-MediumItalic;
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: Montserrat-ExtraLightItalic;
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Pangolin-Regular;
    src: url("../fonts/Pangolin/Pangolin-Regular.ttf");
}

@font-face {
    font-family: RedRose-Light;
    src: url("../fonts/Red_Rose/RedRose-Light.ttf");
}

@font-face {
    font-family: RedRose-Bold;
    src: url("../fonts/Red_Rose/RedRose-Bold.ttf");
}

@font-face {
    font-family: Montserrat-BlackItalic;
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf");
}