.formulario-login-title, .formulario-register-title {
    font-family: LexendZetta-Regular, monospace;
    padding: 0 0 0 160px;
}

.btn-login, .btn-register {
    font-family: Montserrat-Bold, sans-serif;
}

#formulario-login input {
    font-family: Montserrat-LightItalic, sans-serif;
}

#formulario-registrar input {
    font-family: Montserrat-LightItalic, sans-serif;
}

#title-register-confirmed h2 {
    font-family: Montserrat-Italic, sans-serif;
    color: rgb(0, 124, 255);
    margin: 5rem 0 0 7rem;
    font-size: 50px;
}

#text-register-confirmed p {
    font-family: Montserrat-Italic, sans-serif;
    font-size: 25px;
}

#text-register-confirmed a {
    font-size: 18px;
    font-weight: bolder;
}

.btn-login-admin-color {
    color: #fff;
    background-color: rgb(196, 134, 231);
    border-color: rgb(196, 134, 231);
    font-family: Montserrat-Bold, sans-serif;
}

.btn-login-admin-color:hover {
    color: #ffffff;
    background-color: rgb(198, 102, 231);
    border-color: rgb(196, 134, 231);
    font-family: Montserrat-Bold, sans-serif;
}

.btn-admin {
    margin-left: 380px;
    background-color: transparent;
    color: rgb(54, 69, 95);
    border-color: rgb(54, 69, 95);
    font-family: Montserrat-Bold, sans-serif;
}

.btn-admin:hover {
    background-color: rgb(54, 69, 95);
    border-color: rgb(54, 69, 95);
    color: #ffffff;
    font-family: Montserrat-Bold, sans-serif;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: Montserrat-Italic;
    src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
}

@font-face {
    font-family: LexendZetta-Regular;
    src: url("../fonts/Lexend_Zetta/LexendZetta-Regular.ttf");
}